body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #008B8B;
    text-align: center;
}

h2 {
    font-size: 1rem;
    color: #666;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

canvas {
    max-width: 950px;
    width: 100%;
}